.custom-upload {
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin-left: 18px;
}

.btn-custom-upload {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 6px;
    font-size: 15px;
    font-weight: bold;
}

.custom-upload input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

#uploaded_quotations_message {
    margin-top: 7px !important;
    font-size: 17px !important;
}

.nav-highlight > li.active, .nav > li:focus {
    background: -webkit-linear-gradient(left, #002868, #0045b3);
    background: -moz-linear-gradient(left, #002868, #0045b3);
    background: -ms-linear-gradient(left, #002868, #0045b3);
    background: -o-linear-gradient(left, #002868, #0045b3);
    background: linear-gradient(left, #002868, #0045b3);
    outline: none;
}

.nav-highlight > li.active {
    border-left: none;
}

.navbar-default .nav > li > a:hover {
    background: -webkit-linear-gradient(left, #002868, #0045b3);
    color: white;
    outline: none;
}

.profile-text {
    color: #ffffff !important;
    width: 100%;
    padding: 6px 30px;
    background: rgba(0, 0, 0, 0.5);
    display: block;
}

.profile-img {

    margin-left: 30px;
    margin-bottom: 15px;

}

.nav-highlight > li.active > ul {
    background: none repeat scroll 0 0 #f2f6f8;
}

.nav > li > a {
    color: #455a64;
}

.page-bg {
    background-color: #EEF5F9;
    -webkit-box-shadow: inset 1px 0px 20px rgba(0, 0, 0, 0.08);

}

.navbar-fixed-top {
    background: -webkit-linear-gradient(left, #002868, #0045b3);
    background: -moz-linear-gradient(left, #002868, #0045b3);
    background: -ms-linear-gradient(left, #002868, #0045b3);
    background: -o-linear-gradient(left, #002868, #0045b3);
    background: linear-gradient(left, #002868, #0045b3);
    -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
    -ms-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
    -o-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
}

/*.nav.navbar-top-links > li > a:hover,*/
/*.nav.navbar-top-links > li > a:focus {*/
    /*background-color: #64054A;*/
/*}*/

.nav.navbar-top-links > li > a:hover, .nav.navbar-top-links > li > a:focus {
    background-color: rgba(4, 37, 114, 0.6);

}

.navbar-default .nav > li > a:focus {
    background: -webkit-linear-gradient(left, #002868, #0045b3);
    color: white;
    outline: none;
}

.chart-statistic-box .chart-txt {

    background: -webkit-linear-gradient(left, #002868, #0045b3);
    background: -moz-linear-gradient(left, #002868, #0045b3);
    background: -ms-linear-gradient(left, #002868, #0045b3);
    background: -o-linear-gradient(left, #002868, #0045b3);
    background: linear-gradient(left, #002868, #0045b3);

}

.md-btn-primary, .md-btn-primary:active, .md-btn-primary:focus, .md-btn-primary:hover {
    background: #0045b3;
}

.btn-primary {
    background-color: #0045b3;
    border-color: #0045b3;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    background-color: #0045b3;
    border-color: #002868;
}

.modal-header {
    background: linear-gradient(to right, #002868, #0045b3);
    color: #ffffff;
    border-bottom: 1px solid #eee;
}

.md-fab.md-fab-primary {
    background: #002868;
}

.ibilling-page-header:after {

    background: -webkit-linear-gradient(left, #002868, #0045b3);
    background: -moz-linear-gradient(left, #002868, #0045b3);
    background: -ms-linear-gradient(left, #002868, #0045b3);
    background: -o-linear-gradient(left, #002868, #0045b3);
    background: linear-gradient(left, #002868, #0045b3);

}