<style>
    tbody tr td {
        border: 1px dashed #BBB;
    }
    table, table thead tr th{
        border: 1px dashed #BBB;
    }
    /* Extra CSS for Print Button*/
    .button {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        overflow: hidden;
        padding: 12px 12px;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-transition: all 60ms ease-in-out;
        transition: all 60ms ease-in-out;
        text-align: center;
        white-space: nowrap;
        text-decoration: none !important;

        color: #fff;
        border: 0 none;
        border-radius: 4px;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.3;
        -webkit-appearance: none;
        -moz-appearance: none;

        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 160px;
        -ms-flex: 0 0 160px;
        flex: 0 0 160px;
    }
    .button:hover {
        -webkit-transition: all 60ms ease;
        transition: all 60ms ease;
        opacity: .85;
    }
    .button:active {
        -webkit-transition: all 60ms ease;
        transition: all 60ms ease;
        opacity: .75;
    }
    .button:focus {
        outline: 1px dotted #959595;
        outline-offset: -4px;
    }

    .button.-regular {
        color: #202129;
        background-color: #edeeee;
    }
    .button.-regular:hover {
        color: #202129;
        background-color: #e1e2e2;
        opacity: 1;
    }
    .button.-regular:active {
        background-color: #d5d6d6;
        opacity: 1;
    }

    .button.-dark {
        color: #FFFFFF;
        background: #333030;
    }
    .button.-dark:focus {
        outline: 1px dotted white;
        outline-offset: -4px;
    }

    @media print
    {
        .no-print, .no-print *
        {
            display: none !important;
        }
    }
</style>
{base64_decode($document)}
<button class="button -dark center no-print" onclick="window.print();">Click Here to Print</button>